.progress {
    height: auto;
    display: block;
    width: 380px;
    font-size: 14px;
    background-color: black;
    border: 2px solid turquoise;
    margin: 5px 10px;
}
.progress-header {
    padding: 5px;
    margin: 0;
}
.progress-header .progress-header-item{
    margin-bottom: 3px;
}
.progress-description {
    font-size: 14px;
}