.app {
    min-height: 100vh;
    color: white;
    display: flex;
    overflow-y: auto;
}
.my-name {color: turquoise}
.app.dark {background-color: black;}
.portfolio {margin-top: 50px;}

.bio-data .image-container {
    position: relative;
    display: block;
    max-width: 340px;
    margin: 0 auto;
}

.my-skills ul {list-style: none}

/*----------*/
.spacer {
    margin: 50px 0;
}
.spacer.mini {
    margin: 15px 0;
}

.personal-data .download-btn-wrp {
    /*background-color: red;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
